<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="list">
      <a class="card">
        <div class="card_image">
          <div class="filter">
            <span class="filter_info">View more</span>
          </div>
          <img
            src="https://cdn.myanimelist.net/images/anime/10/78745.jpg?s=8ea4cb2e8a861e63757d3c05aa5d32c2s"
            alt=""
          />
        </div>
        <div class="card_text">
          <span>test</span>
        </div>
      </a>
    </div>
  </body>
</html>
